<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Ventas</ion-card-subtitle>
        <ion-card-title>Bienvenido a Saturno</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Gestiona las ventas a tus clientes</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      
      
    </ion-list>
</ion-content>
